<a href="https://colab.research.google.com/github/vimal-ai/house_price_pred/blob/master/modeling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [3]:
data = pd.read_csv('/content/drive/My Drive/Bengluru_House_prediction/clean_data.csv')
data.head()

              area_type             location  total_sqft  ...  balcony  price  bhk
0  Super built-up  Area  1st Block Jayanagar      2850.0  ...      1.0  428.0    4
1  Super built-up  Area  1st Block Jayanagar      1630.0  ...      2.0  194.0    3
2  Super built-up  Area  1st Block Jayanagar      1875.0  ...      3.0  235.0    3
3        Built-up  Area  1st Block Jayanagar      1200.0  ...      0.0  130.0    3
4  Super built-up  Area  1st Block Jayanagar      1235.0  ...      2.0  148.0    2

[5 rows x 7 columns]

In [4]:
dummies = pd.get_dummies(data.location)
df = pd.concat([data.drop('location', axis=1), dummies.drop('other', axis=1)], axis=1)
df.head()

              area_type  total_sqft  ...  Yelenahalli  Yeshwanthpur
0  Super built-up  Area      2850.0  ...            0             0
1  Super built-up  Area      1630.0  ...            0             0
2  Super built-up  Area      1875.0  ...            0             0
3        Built-up  Area      1200.0  ...            0             0
4  Super built-up  Area      1235.0  ...            0             0

[5 rows x 260 columns]

In [7]:
dummies = pd.get_dummies(data.area_type, drop_first=True)
df2 = pd.concat([df.drop('area_type', axis=1), dummies], axis=1)
df2.head()

   total_sqft  bath  balcony  ...  Carpet  Area  Plot  Area  Super built-up  Area
0      2850.0   4.0      1.0  ...             0           0                     1
1      1630.0   3.0      2.0  ...             0           0                     1
2      1875.0   2.0      3.0  ...             0           0                     1
3      1200.0   2.0      0.0  ...             0           0                     0
4      1235.0   2.0      2.0  ...             0           0                     1

[5 rows x 262 columns]

In [8]:
x = df2.drop('price', axis=1)
y = df.price

In [9]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=10)

In [11]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(x_train, y_train)
lr.score(x_test, y_test)

0.8363169573929295

In [13]:
from sklearn.model_selection import ShuffleSplit
from sklearn.model_selection import cross_val_score

cv = ShuffleSplit(n_splits = 5, test_size = 0.2, random_state = 0)

cross_val_score(LinearRegression(), x,y, cv=cv)

array([0.89426479, 0.79892366, 0.88103677, 0.8667179 , 0.86124629])

In [15]:
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import Lasso
from sklearn.tree import DecisionTreeRegressor

In [24]:
def find_best_model(x,y):
  algos = {
      'linear_regression' : {
          'model' : LinearRegression(),
          'params' : {
              'normalize' : [True, False]
          }
      },
      'lasso' : {
          'model' : Lasso(),
          'params' : {
              'alpha' : [1,2],
              'selection' : ['random', 'cyclic']
          }
      },
      'decision_tree' : {
          'model' : DecisionTreeRegressor(),
          'params' : {
              'criterion' : ['mse', 'friedman_mse'],
              'splitter' : ['best', 'random']
          }
      }
  }
  scores = []
  cv = ShuffleSplit(n_splits=5, test_size=0.2, random_state=0)
  for algo_name, config in algos.items():
    gs = GridSearchCV(config['model'], config['params'], cv=cv, return_train_score=False)
    gs.fit(x,y)
    scores.append({
        'model' : algo_name,
        'best_score' : gs.best_score_,
        'best_params' : gs.best_params_
    })
  return pd.DataFrame(scores, columns=['model', 'best_score', ' best_params'])

In [25]:
find_best_model(x, y)

               model  best_score   best_params
0  linear_regression    0.860438           NaN
1              lasso    0.694255           NaN
2      decision_tree    0.767169           NaN