<a href="https://colab.research.google.com/github/vimal-ai/house_price_pred/blob/master/modeling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('/content/drive/My Drive/Bengluru_House_prediction/clean_data.csv')
data.head()

              area_type             location  total_sqft  ...  balcony  price  bhk
0  Super built-up  Area  1st Block Jayanagar      2850.0  ...      1.0  428.0    4
1  Super built-up  Area  1st Block Jayanagar      1630.0  ...      2.0  194.0    3
2  Super built-up  Area  1st Block Jayanagar      1875.0  ...      3.0  235.0    3
3        Built-up  Area  1st Block Jayanagar      1200.0  ...      0.0  130.0    3
4  Super built-up  Area  1st Block Jayanagar      1235.0  ...      2.0  148.0    2

[5 rows x 7 columns]

In [3]:
dummies = pd.get_dummies(data.location)
df = pd.concat([data.drop('location', axis=1), dummies.drop('other', axis=1)], axis=1)
df.head()

              area_type  total_sqft  ...  Yelenahalli  Yeshwanthpur
0  Super built-up  Area      2850.0  ...            0             0
1  Super built-up  Area      1630.0  ...            0             0
2  Super built-up  Area      1875.0  ...            0             0
3        Built-up  Area      1200.0  ...            0             0
4  Super built-up  Area      1235.0  ...            0             0

[5 rows x 260 columns]

In [4]:
dummies = pd.get_dummies(data.area_type, drop_first=True)
df2 = pd.concat([df.drop('area_type', axis=1), dummies], axis=1)
df2.head()

   total_sqft  bath  balcony  ...  Carpet  Area  Plot  Area  Super built-up  Area
0      2850.0   4.0      1.0  ...             0           0                     1
1      1630.0   3.0      2.0  ...             0           0                     1
2      1875.0   2.0      3.0  ...             0           0                     1
3      1200.0   2.0      0.0  ...             0           0                     0
4      1235.0   2.0      2.0  ...             0           0                     1

[5 rows x 262 columns]

In [5]:
x = df2.drop('price', axis=1)
y = df.price

In [6]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=10)

In [7]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(x_train, y_train)
pred_y = lr.predict(x_test)
lr.score(x_test, y_test)

0.8363169573929295

In [8]:
from sklearn.metrics import r2_score
r2_score(pred_y, y_test)

0.8459805191772399

In [9]:
from sklearn.linear_model import Lasso
ll = Lasso()
ll.fit(x_train, y_train)
y_y = ll.predict(x_test)

In [10]:
r2_score(y_y, y_test)

0.6662869038456062

In [11]:
from sklearn.model_selection import ShuffleSplit
from sklearn.model_selection import cross_val_score

cv = ShuffleSplit(n_splits = 5, test_size = 0.2, random_state = 0)

cross_val_score(LinearRegression(), x,y, cv=cv)

array([0.89426479, 0.79892366, 0.88103677, 0.8667179 , 0.86124629])

In [12]:
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import Lasso
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor

In [34]:
def find_best_model(x,y):
  algos = {
      'linear_regression' : {
          'model' : LinearRegression(),
          'params' : {
              'normalize' : [True, False]
          }
      },
      'lasso' : {
          'model' : Lasso(),
          'params' : {
              'alpha' : [1,2],
              'selection' : ['random', 'cyclic']
          }
      },
      'decision_tree' : {
          'model' : DecisionTreeRegressor(),
          'params' : {
              'criterion' : ['mse', 'friedman_mse'],
              'splitter' : ['best', 'random']
          }
      }
  }
  scores = []
  cv = ShuffleSplit(n_splits=5, test_size=0.2, random_state=0)
  for algo_name, config in algos.items():
    gs = GridSearchCV(config['model'], config['params'], cv=cv, return_train_score=False)
    gs.fit(x,y)
    scores.append({
        'model' : algo_name,
        'best_score' : gs.best_score_,
        'best_params' : gs.best_params_
    })
  return pd.DataFrame(scores)

In [35]:
find_best_model(x, y)

               model  ...                                        best_params
0  linear_regression  ...                               {'normalize': False}
1              lasso  ...                {'alpha': 1, 'selection': 'random'}
2      decision_tree  ...  {'criterion': 'friedman_mse', 'splitter': 'ran...

[3 rows x 3 columns]

In [16]:
# Number of trees in random fores
n_estimators = [int(x) for x in np.linspace(start = 10, stop = 80, num = 10)]
#Number of features to consider at every split
max_features = ['auto', 'sqrt']
#Maximum number of level in tree
max_depth = [2, 4]
#Minimum numer of samples required at each leaf node
min_samples_split = [2, 5]
#minimum number of samples required at each node
min_samples_leaf = [1, 2]
#method of selecting sample for training each tree
bootstrap = [True, False]

In [18]:
param_grid = {
    'n_estimators' : n_estimators,
    'max_features' : max_features,
    'max_depth' : max_depth,
    'min_samples_split' : min_samples_split,
    'min_samples_leaf' : min_samples_leaf,
    'bootstrap' : bootstrap
}
print(param_grid)

{'n_estimators': [10, 17, 25, 33, 41, 48, 56, 64, 72, 80], 'max_features': ['auto', 'sqrt'], 'max_depth': [2, 4], 'min_samples_split': [2, 5], 'min_samples_leaf': [1, 2], 'bootstrap': [True, False]}

In [19]:
rf_Model = RandomForestRegressor()
rf_grid = GridSearchCV(estimator=rf_Model, param_grid = param_grid, cv = 5, verbose=2, n_jobs=4)

In [20]:
rf_grid.fit(x_train, y_train)

Fitting 5 folds for each of 320 candidates, totalling 1600 fits

[Parallel(n_jobs=4)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=4)]: Done  33 tasks      | elapsed:    9.6s
[Parallel(n_jobs=4)]: Done 154 tasks      | elapsed:   46.9s
[Parallel(n_jobs=4)]: Done 357 tasks      | elapsed:  1.2min
[Parallel(n_jobs=4)]: Done 640 tasks      | elapsed:  3.1min
[Parallel(n_jobs=4)]: Done 1005 tasks      | elapsed:  4.7min
[Parallel(n_jobs=4)]: Done 1450 tasks      | elapsed:  7.5min
[Parallel(n_jobs=4)]: Done 1600 out of 1600 | elapsed:  7.8min finished

GridSearchCV(cv=5, error_score=nan,
             estimator=RandomForestRegressor(bootstrap=True, ccp_alpha=0.0,
                                             criterion='mse', max_depth=None,
                                             max_features='auto',
                                             max_leaf_nodes=None,
                                             max_samples=None,
                                             min_impurity_decrease=0.0,
                                             min_impurity_split=None,
                                             min_samples_leaf=1,
                                             min_samples_split=2,
                                             min_weight_fraction_leaf=0.0,
                                             n_estimators=100, n_jobs=None,
                                             oob_score=False, random_state=None,
                                             verbose=0, warm_start=False),
             iid='deprecated', n_jobs=4,
             param_grid={'bootstrap': [True, False], 'max_depth': [2, 4],
                         'max_features': ['auto', 'sqrt'],
                         'min_samples_leaf': [1, 2],
                         'min_samples_split': [2, 5],
                         'n_estimators': [10, 17, 25, 33, 41, 48, 56, 64, 72,
                                          80]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=2)

In [21]:
rf_grid.best_params_

{'bootstrap': True,
 'max_depth': 4,
 'max_features': 'auto',
 'min_samples_leaf': 1,
 'min_samples_split': 5,
 'n_estimators': 64}

In [22]:
rf_grid.best_score_

0.752529712451968

In [23]:
import pickle

In [24]:
with open('b_house_pred','wb') as f:
  pickle.dump(lr, f)